{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<html>
  {{>partials/head}}
  {{^redirect_url}}
  <body>
    <header class="sticky-top bg-body d-print-none">
      {{^_disableNavbar}}
      {{>partials/navbar}}
      {{/_disableNavbar}}
    </header>

    {{#_enableSearch}}
    {{>partials/search-results}}
    {{/_enableSearch}}

    <main class="container-fluid hide-when-not-search">
      {{^_disableToc}}
      <div class="left-rail d-print-none">
        <div class="sticky-top bg-body">
          {{>partials/toc}}
        </div>
      </div>
      {{/_disableToc}}

      <div class="content-rail" data-uid="{{uid}}">
        <div class="sticky-top bg-body d-print-none">
          {{>partials/actionbar}}
        </div>

        <article>
          {{!body}}
        </article>

        {{^_disableContribution}}
        {{>partials/edit-link}}
        {{/_disableContribution}}
      </div>

      {{^_disableAffix}}
      <div class="right-rail d-print-none">
        <div class="sticky-top bg-body">
          {{>partials/affix}}
        </div>
      </div>
      {{/_disableAffix}}
    </main>

    {{^_disableFooter}}
    {{>partials/footer}}
    {{/_disableFooter}}

    {{>partials/scripts}}
  </body>
  {{/redirect_url}}
</html>
